.chat-input-component {
    display: flex;
    column-gap: 10px;
}
.chat-input {
    flex: 1;
    height: 100%;
    padding: 8px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    font-size: 14px;
}
.chat-input::placeholder {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}