:root {
    /* colors */
    --bg-body: #EAEAEA;
    --bg-interface-component: white;
    --bg-default: #D9D9D9;
    --color-default: black;
    --color-text-default: black;
    --color-text-alternative: white;
    --color-text-secondary: #ADADAD;
    --color-accent: #4E5FFF;
    --color-accent-hover: #3142fd;
    --color-accent-active: #2537fd;
    --bg-hover-el: #f3f3f3;
    --bg-active-el: #e6e6e6;
    --color-danger: #FF3333;

    /* interface components */
    --border-radius-interface-component: 15px;
    --padding-interface-component: 10px;

    /* general */
    --border-radius: 15px;

    /* input */
    --color-border: #EAEAEA;
}